
.prenup-container {
  background: linear-gradient(to bottom right, #c8cbb6, #b69a82);
    background: rgb(238, 78, 107); /* Fallback Color */
    background: linear-gradient(90deg, 	#f4dbdb 0%, #b69a82 100%);
    margin: 0px;
}

.img-wrapper {
    width: clamp(80%, 80vw, 1200px);
    margin: 0 auto;
    
  }
  
  .title {
    font-family: 'MyWeddingFont', serif;
    color: black;
    font-size: clamp(3rem, 7vw, 100rem);
    text-align: center;
    margin-bottom: clamp(2rem, 8vh, 8rem);
    margin: 0px;
  }
  .prenup-description {
    width: 100%;
    color: black;
    font-family: "Poiret One", sans-serif;
    font-size: clamp(1.4rem, 1.3vw, 100rem);
    font-weight: 300;
    margin-top: 1rem;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 10%;
  }
  
  .image-box {
    margin: 0 auto;
    max-width: clamp(.1rem, 90vw, 120rem);
    padding: 0 clamp(.1rem, 2vw, 2rem);
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1rem, 1vw, 2rem);
    justify-content: center;
  }
  
  .image-box img {
    width: clamp(.1rem, 18vw, 20rem);
    aspect-ratio: 2 / 3;
    object-fit: cover;
    filter: sepia(100%) blur(1px);
    transition: all 0.2s ease-in-out;
    animation: enter-animation 1s;
    flex: 1 0 auto;
  }
  
  .image-box img:hover {
    filter: sepia(0%);
    transform: scale(1.5);
    z-index: 100;
  }
  
  @keyframes enter-animation {
    from {
      opacity: 0;
      transform: rotate(5deg) translateY(-4rem);
    }
    to {
      opacity: 1;
      transform: rotate(0);
    }
  }
  
/*** Root vairables and standardize REM browser size***/

  /*** Start Copy ***/
  
  .page-mast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    width: 100%;
    background: rgb(238, 78, 107); /* Fallback Color */
    background: linear-gradient(90deg, 	#f4dbdb 0%, #b69a82 100%);
  }
  
  @media only screen and (max-width: 600px) {
    .page-mast {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
    }
  }
  

  .page-mast__border {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @media only screen and (max-width: 600px) {
    
    .page-mast__border {
      grid-row: 3 / 4;
    }
    .prenup-description {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .svg-background-wrapper {
    width: 100%; /* Adjust as needed */
    height: clamp(.1rem, 13vw, 100rem); /* Adjust as needed */
    background:linear-gradient(to bottom left, #e0f2fe, #fce7f3); /* This will be the "background" color */
    -webkit-mask-image: url('https://assets.codepen.io/2895033/border.svg');
    mask-image: url('https://assets.codepen.io/2895033/border.svg');
    -webkit-mask-size: cover; /* Adjust mask size */
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    margin-bottom: -1px;
  }

  .svg-background-wrapper2 {
    width: 100%; /* Adjust as needed */
    height: clamp(.1rem, 13vw, 100rem); /* Adjust as needed */
    background:linear-gradient(to bottom left, #c8cbb6, #ecd3bd); /* This will be the "background" color */
    -webkit-mask-image: url('https://assets.codepen.io/2895033/border.svg');
    mask-image: url('https://assets.codepen.io/2895033/border.svg');
    -webkit-mask-size: cover; /* Adjust mask size */
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transform: rotate(180deg);
    margin-top: -1px;
  }

  
  /*** End Copy ***/