*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Base Body Styles */
html {
  scroll-behavior: smooth;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; /* for smooth iOS scrolling */
}

body {
  background-color: #F0FFF0;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'MyWeddingFont';
  src: url('/fonts/BastligaOne.otf') format('opentype'),
       url('/fonts/BastligaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyWeddingFont2';
  src: url('/fonts/AmsterdamHandwriting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyWeddingFont1';
  src: url('/fonts/CalligraphyBrilliant.otf') format('opentype'),
       url('/fonts/CalligraphyBrilliant.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyWeddingFont3';
  src: url('/fonts/DaltonWhite.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1 {
  font-family: 'MyWeddingFont2', serif;
}